<footer id="footer">

    <section id="footer-top">
        <div class="left fbox">
            <h3>Web Tasarım</h3>
            <ul>
                <li><a href="#">Html</a></li>
                <li><a href="#">Css</a></li>
                <li><a href="#">Bootstrap</a></li>
            </ul>
        </div> 

        <div class="center fbox">
            <h3>Programlama</h3>
            <ul>
                <li><a href="#">C#</a></li>
                <li><a href="#">Php</a></li>
                <li><a href="#">Python</a></li>
            </ul>
        </div>

        <div class="right fbox">
            <h3>İletişim</h3>
            <ul>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Whatsaap</a></li>
            </ul>
        </div>
    </section>

    <section id="footer-bottom">
        <p>
            Delta Software © Copyright 2022 Tüm Hakları Saklıdır.
        </p>
    </section>

</footer>